.userPreferencesForm {
  padding: 20px 16px;
  background-color: #fff;
  color: #000;

  .title {
    font-size: 18px;
    margin-bottom: 6px;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  .label {
    font-size: 16px;
  }

  .txtInput {
    border-width: 3px;
    width: 100%;
    outline: none;
    border-radius: 8px;
    border-color: #93cce7;
    margin-top: 4px;
    margin-bottom: 12px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .errLabel {
    color: red;
  }
  .mainButton {
    margin-top: 20px;
    width: 100%;
    transition: all 0.15s ease-in-out;
    &:hover {
      box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.252);
    }
  }
}

.savedLabel {
  font-size: 24px;
  margin-bottom: 32px;
  color: black !important;
}

.redBorder {
  border-color: red;
}
